<context id="AutoSimmune">
	<attribute id="evaporationRate" display_name="Evaporation Rate"
		value="0.92" type="double" />
	<attribute id="difusionConstant" display_name="Difusion Constant"
		value="0.5" type="double" />
	<attribute id="tissueWidth" display_name="Tissue Width"
		value="150" type="int" />
	<attribute id="tissueHeight" display_name="Tissue Height"
		value="150" type="int" />
	<attribute id="dendriticCellsCount" display_name="Dendritic Cells Count"
		value="200" type="int" />
	<attribute id="dendriticSelfPattern" display_name="Dendritic Self Pattern"
		value="00000000000000000011" type="string" />
	<attribute id="antibodyLifetime" display_name="Antibody Lifetime"
		value="350" type="int" />
	<attribute id="virusSelfPattern" display_name="Virus Self Pattern"
		value="01010101010101010101" type="string" />
	<attribute id="selfPatternLenght" display_name="Self Pattern Lenght"
		value="20" type="int" />
	<attribute id="receptorPatternLenght" display_name="Receptor Pattern Lenght"
		value="5" type="int" />
	<attribute id="affinityThreshold" display_name="Affinity Threshold"
		value="5" type="int" />
	<attribute id="virusTargetPattern" display_name="Virus Target Pattern"
		value="00000000001111111111" type="string" />
	<attribute id="virusVirulency" display_name="Virus Virulency"
		value="1" type="int" />
	<attribute id="virusLatency" display_name="Virus Latency"
		value="10" type="int" />
	<attribute id="tissueQuarter" display_name="Tissue Quarter"
		value="9" type="int" />
	<attribute id="pcSelfPattern" display_name="PC Self Pattern"
		value="00000000001111111111" type="string" />
	<attribute id="pCStressThreshold" display_name="PC Stress Threshold"
		value="5" type="int" />
	<attribute id="pCStressMaxTime" display_name="PC Stress Max Time"
		value="25" type="int" />
	<attribute id="nKSelfPattern" display_name="NK Self Pattern"
		value="00000111110000011111" type="string" />
	<attribute id="nKKillLimit" display_name="NK Kill Limit"
		value="2" type="int" />
	<attribute id="nKNoKillTimeout" display_name="NK NoKill Timeout"
		value="20" type="int" />
	<attribute id="nKLifetime" display_name="NK Lifetime" value="30"
		type="int" />
	<attribute id="nKCK1Duration" display_name="NK CK1 Duration"
		value="10" type="int" />
	<attribute id="thSelfPattern" display_name="Th Self Pattern"
		value="11110000111100001111" type="string" />
	<attribute id="thLifetime" display_name="Th Lifetime" value="500"
		type="int" />
	<attribute id="thCK1Duration" display_name="Th CK1 Duration"
		value="50" type="int" />
	<attribute id="thProliferationCount" display_name="Th Proliferation Count"
		value="20" type="int" />
	<attribute id="thCK1MemoryThreshold" display_name="Th CK1 Memory Threshold"
		value="1" type="int" />
	<attribute id="thMemoryProliferationCount" display_name="Th Memory Proliferation Count"
		value="10" type="int" />
	<attribute id="cTLSelfPattern" display_name="CTL Self Pattern"
		value="01010101010101010101" type="string" />
	<attribute id="cTLTissueLifetime" display_name="CTL Tissue Lifetime"
		value="300" type="int" />
	<attribute id="cTLLymphnodeLifetime" display_name="CTL Lymphnode Lifetime"
		value="500" type="int" />
	<attribute id="cTLTissueCK1Duration" display_name="CTL Tissue CK1 Duration"
		value="50" type="int" />
	<attribute id="cTLLymphnodeCK1Duration" display_name="CTL Lymphnode CK1 Duration"
		value="100" type="int" />
	<attribute id="cTLCK1MemoryThreshold" display_name="CTL CK1 Memory Threshold"
		value="0.2" type="double" />
	<attribute id="cTLPK1MemoryThreshold" display_name="CTL PK1 Memory Threshold"
		value="0.2" type="double" />
	<attribute id="cTLProliferationCount" display_name="CTL Proliferation Count"
		value="40" type="int" />
	<attribute id="dendriticLymphnodeLifetime" display_name="Dendritic Lymphnode Lifetime"
		value="200" type="int" />
	<attribute id="dendriticPK1ActivationThreshold" display_name="Dendritic PK1 Activation Threshold"
		value="0.5" type="double" />
	<attribute id="dendriticMK1ActivationThreshold" display_name="Dendritic MK1 Activation Threshold"
		value="0.5" type="double" />
	<attribute id="dendriticTissueMK1Duration" display_name="Dendritic Tissue MK1 Duration"
		value="30" type="int" />
	<attribute id="dendriticLymphnodeMK1Duration" display_name="Dendritic Lymphnode MK1 Duration"
		value="20" type="int" />
	<attribute id="macrophageSelfPattern" display_name="Macrophage Self Pattern"
		value="00011100011100011100" type="string" />
	<attribute id="macrophageLifetime" display_name="Macrophage Lifetime"
		value="20" type="int" />
	<attribute id="macrophageMK1Duration" display_name="Macrophage MK1 Duration"
		value="20" type="int" />
	<attribute id="bCellSelfPattern" display_name="BCell Self Pattern"
		value="00110001110011000111" type="string" />
	<attribute id="bCellGerminalProbability" display_name="BCell Germinal Probability"
		value="60" type="int" />
	<attribute id="bCellMK1MemoryThreshold" display_name="BCell MK1 Memory Threshold"
		value="0.02" type="double" />
	<attribute id="bCellCK1MemoryThreshold" display_name="BCell CK1 Memory Threshold"
		value="0.02" type="double" />
	<attribute id="bCellLifetime" display_name="BCell Lifetime"
		value="400" type="int" />
	<attribute id="bCellAntibodyCount" display_name="BCell Antibody Count"
		value="40" type="int" />
	<attribute id="citokineValue" display_name="CitokineValue"
		value="100" type="double" />
	<attribute id="circulationWidth" display_name="Circulation Width"
		value="250" type="int" />
	<attribute id="circulationHeight" display_name="Circulation Height"
		value="250" type="int" />
	<attribute id="lymphnodeWidth" display_name="Lymphnode Width"
		value="50" type="int" />
	<attribute id="lymphnodeHeight" display_name="Lymphnode Height"
		value="50" type="int" />
	<attribute id="portalMacrophageToSend" display_name="Portal Macrophage To Send"
		value="5" type="int" />
	<attribute id="portalNKToSend" display_name="Portal NK To Send"
		value="5" type="int" />
	<attribute id="portalMK1Threshold" display_name="Portal MK1 Threshold"
		value="1" type="double" />
	<attribute id="portalPK1Threshold" display_name="Portal PK1 Threshold"
		value="1" type="double" />
	<attribute id="antibodySelfPattern" display_name="Antibody Self Pattern"
		value="11000011111000000111" type="string" />

	<context id="Circulation">

		<projection id="circulationGrid" type="grid">
			<attribute id="allows multi" value="true" type="boolean" />

			<attribute id="width" display_name="Width" value="50" type="int" />
			<attribute id="height" display_name="Height" value="50" type="int" />
		</projection>
	</context>
	<context id="Lymphnode">

		<projection id="lymphnodeGrid" type="grid">
			<attribute id="allows multi" value="true" type="boolean" />

			<attribute id="width" display_name="Width" value="50" type="int" />
			<attribute id="height" display_name="Height" value="50" type="int" />
		</projection>
	</context>
	<context id="Tissue">

		<projection id="TissueGrid" type="grid">

			<attribute id="width" display_name="Width" value="150" type="int" />
			<attribute id="height" display_name="Height" value="150" type="int" />
		</projection>
		<projection id="TissuePK1" type="value layer" />
		<projection id="TissueMK1" type="value layer" />
	</context>
</context>